/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
html{
    /* font-size: 18px; */
    /* 1rem = 18px */
    /* khong khai bao fontsize */
    /* 1rem = 16px */
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: white;
    letter-spacing: 1px;
}
button{
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 13px 32px;
    font-size: 0.875rem; 
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.5s;
}
button:hover{
    background-color: #ffe1e9;
    color:black;
    border-color: #ff0e83;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

/* HEADER */
header{
    background-color: #070735;
    padding: 20px 0;

    position: fixed;
    z-index: 100;
    width: 100%;
}

.header__content{
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__content ul{
    list-style: none;
}
.header__content ul li{
    display: inline;
    margin: 0 1rem;
}
.header__content ul a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    /* transition-property: color;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: linear; */
    transition: all 0.5s;
}
.header__content ul a:hover{
    color: #ff0e83;
}
.header__content ul .active a{
    color: #ff0e83;
}
.header__content p{
    color: white;
    /* font-size: 37px; */
    font-size: 2.3rem;
}

/* CAROUSEL */
.carousel{
    background-image: url("../img/violet.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    color: #070735;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content h1{
    font-size: 3.5rem;
}
.carousel__content p{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 23px 0;
    color: white;
}
.carousel__content label{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 23px 0;
    color:#070735;
}
.carousel__content button{
    padding: 12px 20px;
    margin: 15px 0;
}
.carousel__content input[type=url]{
    width: 340px;
    padding: 12px 20px;
    margin: 8px 0; 
    border: 1px solid #191970;
    border-radius: 5px;
    background-color: #F8F8FF;
    color: black;
    font-size: 16px;
    transition: width 0.5s ease-in-out;
}
.carousel__content input[type=url]:hover{
    background-color: #E0FFFF;
}
.carousel__content input[type=url]:focus {
    width: 100%;
    background-color: #E0FFFF;
}
.carousel__content input[type=url]:focus:valid {
    border: 8px solid green;
}
.carousel__content input[type=url]:focus:invalid {
    border: 8px solid red;
}
.carousel__options{
    display: flex;
}
.carousel__item{
    width: 50%;
}

/* NUMBER */
.number{
    padding: 70px 0;
}
.number h2{
    color: #191970;
}
.number__content{
    display: flex;
    justify-content: space-around;

    width: 70%;
    margin: 0 auto;

    text-align: center;
}
.number__item p:first-of-type{
    font-size: 2rem;
    color: #191970;
    font-weight: 600;
}
.number__item p:last-of-type{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px 0;
}

/* SERVICES */
.services{
    background-image: url("../img/sakuraRainbow.jpg");
    background-size: cover;
    text-align: center;
    padding: 70px 0;    
}
.services h2{
    color: white;

}
.services__content{
    display: flex;

    width: 70%;
    margin: 0 auto;
}
.services__item{
    padding: 20px;
    width: 25%;
}
.services__item i{
    width: 105px;
    height: 105px;
    line-height: 105px;
    border: 1px solid #191970;
    border-radius: 50%;
    background-color: white;
    color: #191970;
    font-size: 3.75rem;
    transition: all .5s;
}
.services__item h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 17px 0;
}
.services__item p{
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 12px;
}
.services__item:hover i{
    color: #ff0e83;
}

/* FEEDBACK */
.feedback{
    background-image: url("../img/bluesky.jpg");
    background-size: cover;
    padding: 70px 0;
}
.feedback h2{
    color: white;
}
.feedback__content{
    width: 75%;
    margin: 0 auto;
    border: 3px solid #ff0e83;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 32px;
}
.feedback__content i{
    font-size: 1.3rem;
    color: #2cbeff;
    padding: 0 18px;
}
.feedback__content p{
    line-height: 30px;
    letter-spacing: 1.3px;
    font-weight: 700;
}
.feedback__content .feedback__name{
    color: white;
}

.feedback__content .owl-theme .owl-dots .owl-dot span{
    background-color: rgba(0, 0, 0, 0.5);
}
.feedback__content .owl-theme .owl-dots .owl-dot.active span{
    background-color: black;
}
.feedback__content .owl-theme .owl-dots .owl-dot:focus{
    outline: none;
}

/* TEAM */
.team{
    background-color: #191970;
    padding: 70px 0;
}
.team h2{
    color: white;
}
.team__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 30px;

    width: 75%;
    margin: 0 auto;
}
.team__item img{
    width: 100%;
    display: block;
}
.team__item{
    position: relative;
}
.team__item h3{
    font-size: 1.3rem;
}
.team__item p{
    font-size: 0.875rem;
    line-height: 28px;
}
.team__title{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ff0e83;
    color: white;
    width: 100%; 
    padding: 30px;
    opacity: 1;
    transition: all .5s;
}
.team__details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 100px 40px;
    opacity: 0;
}
.team__item:hover .team__title{
    opacity: 0;
}
.team__item:hover .team__details{
    opacity: 1;
}
.team__details h3{
    color: #ff0e83;
}
.team__text{
    margin: 8px 0;
}
.team__socials{
    margin-top: 24px;
}
.team__socials i{
    width: 37px;
    height: 37px;  
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 37px;
    margin: 0 5px;
    transition: all .5s;
    cursor: pointer;
}
.team__socials i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
}

/* FOOTER */
footer{
    padding: 50px 0;
    background-color: #070735;
    color: white;
}
.footer__main{
    width: 70%;
    margin: 0 auto;

    display: flex;
    padding-bottom: 50px;
}
.footer__item{
    width: 25%;
    padding: 0 20px;
}
.footer__item h3{
    font-size: 1.3rem;
    color: #ff0e83;
    margin-bottom: 1rem;
}
.footer__item p{
    font-size: 0.8rem;
    line-height: 28px;
    padding-bottom: 1rem;
}
.footer__socials i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid white;
    cursor: pointer;
}
.footer__socials i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
    transition: all 0.5s;
}
.footer__map iframe{
    width: 100%;
    height: 350px;
}
.footer__contact p{
    display: inline-block;
}
.footer__item .footer__sub input{
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.footer__item .footer__sub input:focus{
    outline: none;
}
.footer__item .footer__sub button{
    padding: 7px 16px;
    color: black;
    border-color: #ff0e83;
    font-weight: 700;
    margin-bottom: 24px;
}
.footer__item .footer__sub button:hover{
    border-color: black;
}
.footer__copyright{
    text-align: center;
    font-size: 0.8rem;
}
.footer__copyright span{
    color: #ff0e83;
}

/* BACK TO TOP */
.backToTop{
    position: fixed;    
    right: 50px;
    bottom: 50px;

    visibility: hidden;
    opacity: 0;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
} 
.backToTop i{
    color: #0BBBCC;
    border: 2px solid #0BBBCC;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
}

