/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
html{
    /* font-size: 18px; */
    /* 1rem = 18px */
    /* khong khai bao fontsize */
    /* 1rem = 16px */
    font-size: 16px;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: white;
    letter-spacing: 1px;
}
button{
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 13px 32px;
    font-size: 0.875rem; 
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.5s;
}

button:hover{
    background-color: #ffe1e9;
    color:black;
    border-color: #ff0e83;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

/* HEADER */
header{
    background-color: #4e2a84;
    padding: 20px 0;
}
.header__content{
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__content ul{
    list-style: none;
}
.header__content ul li{
    display: inline;
    margin: 0 1rem;
}
.header__content ul a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    /* transition-property: color;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: linear; */
    transition: all 0.5s;
}
.header__content ul a:hover{
    color: #ff0e83;
}
.header__content ul .active a{
    color: #ff0e83;
}
.header__content p{
    color: white;
    /* font-size: 37px; */
    font-size: 2.3rem;
}

/* CAROUSEL */
.carousel{
    background-image: url("../img/violet3.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content h1{
    font-size: 3.5rem;
}
.carousel__content p{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 23px 0;
    color:white;
}
.carousel__content label{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 23px 0;
    color:#FFF5EE;
}
.carousel__content button{
    padding: 12px 20px;
    margin: 15px 0;
}
.carousel__content input[type=text]{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0; 
    border: 1px solid #4e2a84;
    border-radius: 5px;
    background-color: #F8F8FF;
    color: #4e2a84;
    font-size: 16px;
    transition: width 0.5s ease-in-out;
}
.carousel__content input[type=text]:hover{
    background-color: #E0FFFF;
}
.carousel__content input[type=text]:focus {
    width: 100%;
    background-color: #E0FFFF;
}
.carousel__options{
    display: flex;
}
.carousel__item{
    width: 50%;
}



/* FOOTER */
footer{
    padding: 50px 0;
    background-color: black;
    color: white;
}
.footer__main{
    width: 70%;
    margin: 0 auto;

    display: flex;
    padding-bottom: 50px;
}
.footer__item{
    width: 25%;
    padding: 0 20px;
}
.footer__item h3{
    font-size: 1.3rem;
    color: #ff0e83;
    margin-bottom: 1rem;
}
.footer__item p{
    font-size: 0.8rem;
    line-height: 28px;
    padding-bottom: 1rem;
}
.footer__socials i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid white;
    cursor: pointer;
}
.footer__socials i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
    transition: all 0.5s;
}
.footer__time{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted white ;
}
.footer__time p{
    padding: 0;
    margin: 10px 0;
} 
.footer__item .footer__sub input{
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.footer__item .footer__sub input:focus{
    outline: none;
}
.footer__item .footer__sub button{
    padding: 7px 16px;
    color: black;
    border-color: #ff0e83;
    font-weight: 700;
    margin-bottom: 24px;
}
.footer__item .footer__sub button:hover{
    border-color: black;
}
.footer__copyright{
    text-align: center;
    font-size: 0.8rem;
}
.footer__copyright span{
    color: #ff0e83;
}

#result-from-photo {
    color : red;
}
